.DS_Store

wp-config.php
wp-config-prod.php

wp/*
!wp/.gitkeep

wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/languages
wp-content/uploads

wp-content/themes/ninnan/**/*-min.*
node_modules

.htaccess
