@import "base/config";
@import "base/fonts";

:root {
  --Type-spacing: 30px;
}

#tinymce {
  margin: 0;
  padding: 15px 20px;
  font: 400 16px/var(--text-lineheight-large) var(--font-apercu);
  color: var(--color-black);
}

p {
  margin: 0;
}

p:not(:first-child) {
  text-indent: var(--text-indent);
}

blockquote {
  text-align: center;
  font-size: 1.4em;
  padding: 0 var(--Type-spacing);
  margin: 30px 0;
}

.u-noIndent {
  text-indent: 0 !important;
}
