.Chapters {
  position: relative;
  z-index: 1;
  background: red;
}

.Chapters-pagination {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  height: 0;
  float: right;
  text-align: right;

  font-size: 2em;
  color: #fff;
}

.Chapters-paginationInner {
  display: block;
  padding: 1em;
}
