:root {
  --Navigation-width: 400px;
  --Navigation-button-width: 60px;
}


.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  border-right: 2px solid #fff;
  background: var(--color-black);
  color: #fff;
  width: var(--Navigation-width);
  max-width: 90%;
  transform: translateX(-100%);
  transition: transform 300ms ease;
  display: flex;
}

.Navigation.is-active {
  transform: translateX(0);
}


.Navigation-list {
  margin: auto;
}

.Navigation-item {
  display: block;
}

.Navigation-link {
  display: block;
  padding: 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (--md-viewport) {
  .Navigation-link {
    font-size: 2em;
  }
}


.Navigation-linkInner {
  border-bottom: 4px solid transparent;
  transition: border 200ms ease;
}

.Navigation-link:hover .Navigation-linkInner {
  border-bottom-color: #fff;
}


.Navigation-open,
.Navigation-close {
  cursor: pointer;
  line-height: 1;
}

.Navigation-open {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em 0;
  width: var(--Navigation-button-width);

  text-align: center;
  text-transform: lowercase;

  transform: translateX(100%);
  background: var(--color-black);
  outline: none;
}

@media (--md-viewport) {
  .Navigation-open {
    bottom: 0;
    padding: 1em 0;

    border-right: 2px solid #fff;

    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px;
  }

  .Navigation-openText {
    display: block;
    transform: rotate(-90deg);
  }
}

.Navigation-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .4em .5em;
  opacity: 0;
  outline: none;
  font-size: 3em;
}

.Navigation-close:hover {
  opacity: .7;
}



.Navigation.is-active .Navigation-open {
  opacity: 0;
}

.Navigation.is-active .Navigation-close {
  opacity: 1;
}

.Navigation-open,
.Navigation-close {
  transition: opacity 200ms ease;
}
