.Page {
  position: relative;
  z-index: 1;
}


.Page-pagination {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  height: 0;
  float: right;
  text-align: right;
}


.Page-paginationInner {
  display: block;
  padding: 1em;

  font-size: 1em;
  line-height: 1;
  background: var(--color-black);
  color: #fff;
}

@media (--md-viewport) {
  .Page-paginationInner {
    font-size: 2em;
    background: transparent;
  }
}


@media (--md-viewport) {
  .Page--white .Page-paginationInner {
    color: var(--color-black);
  }
}
