.Section {
  position: relative;
  width: 100%;
  z-index: 0;
  padding: var(--site-spacing-sm) 0;
}

@media (--xs-viewport) {
  .Section {
    padding: var(--site-spacing-percent) 0;
  }
}

@media (--md-viewport) {
  .Section {
    padding: var(--site-spacing-md) 0;
  }
}

@media (--lg-viewport) {
  .Section {
    padding: var(--site-spacing-lg) 0;
  }
}

@media (--xl-viewport) {
  .Section {
    padding: var(--site-spacing-xl) 0;
  }
}


.Section-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  line-height: 1;
}


.Section-scrollDown {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  width: 60px;
  padding: 20px 10px 10px;
  text-align: center;

  transition: transform 300ms ease;
}

html.no-touchevents .Section-scrollDown:hover {
  transform: translateY(5px);
}


.Section-chapterIntro {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section-chapterIntroTitle {
  text-transform: uppercase;
  font-size: 1.5em;
}

@media (--lg-viewport) {
  .Section-chapterIntroTitle {
    font-size: 2em;
  }
}

.Section-chapterIntroTitle:not(:last-child) {
  margin-bottom: 1em;
}


.Section-title {
  font-size: 1.5em;
  margin-bottom: var(--site-spacing-sm);
  font-family: var(--font-apercu);
}

@media (--lg-viewport) {
  .Section-title {
    font-size: 2em;
    margin-bottom: var(--site-spacing-md);
  }
}


.Section-titleLink {
  cursor: default;
}


/* Themes */

.Section--noPad {
  padding: 0;
}

.Section--gray {
  background: var(--color-gray);
}

.Section--black {
  background: var(--color-black);
}

.Section--gray,
.Section--black {
  color: #fff;
}

.Section--white {
  background: #fff;
  color: var(--color-black);
}


.Section--text .Section-title {
  padding-left: var(--text-indent);
  text-transform: uppercase;
}


.Section--intro {
  padding: var(--site-spacing-md) 0;
}

@media (--md-viewport) {
  .Section--intro {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.Section--about,
.Section--index {
  position: relative;
  z-index: 1;
}

@media (--md-viewport) {
  .Section--about,
  .Section--index,
  .Section--about .Section,
  .Section--index .Section {
    padding: 20px 0;
  }
}

@media (--lg-viewport) {
  .Section--about,
  .Section--index,
  .Section--about .Section,
  .Section--index .Section {
    padding: 30px 0;
  }
}


.Section--about .Section-title,
.Section--index .Section-title {
  text-transform: uppercase;
}



@media (--lg-viewport) {
  .Section--about .Section-text {
    padding-left: 100px;
    max-width: calc(var(--site-width-narrow) + 100px);
  }
}



/* Images */

.Section--images {
  padding: 0;
}

.Section--images .Section-title {
  width: 90%;
  max-width: var(--site-width-narrow);
  margin-left: auto;
  margin-right: auto;
}

@media (--md-viewport) {
  .Section--images .Section-title {
    margin-left: 100px;
  }
}


/* Letter */

.Section--letter {
  padding: 0;
}

.Section--letter .Section-title {
  width: 90%;
  max-width: var(--site-width-narrow);
  margin-left: auto;
  margin-right: auto;
}

@media (--md-viewport) {
  .Section--letter .Section-title {
    margin-left: 100px;
  }
}

.Section--letter .Section-text {
  width: 90%;
  max-width: var(--site-width-narrow);
  margin: 0 auto;
}

@media (--md-viewport) {
  .Section--letter .Section-text {
    margin-right: 10%;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 5%;
    width: 100%;
    max-width: 700px;
  }
}

@media (--lg-viewport) {
  .Section--letter .Section-text {
    padding-left: 200px;
  }
}


/* Small */

.Section--small {
  padding: 30px 0;
}

.Section--small .Section-title {
  margin-bottom: 0;
}
