.Slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;

  background: var(--color-gray);
  color: #fff;
}

.Slideshow.is-active {
  cursor: move;
  cursor: grab;
}

.Slideshow.is-active:active {
  cursor: grabbing;
}


.Slideshow-slider {
  width: 100%;
  overflow: hidden;
}


.Slideshow-item {
  width: 100%;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.Slideshow-itemImage {
  display: block;
}


.Slideshow-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 1em;

  font-size: 1.2em;

  background: rgba(0, 0, 0, .5);
}

@media (--md-viewport) {
  .Slideshow-info {
    background: transparent;
    font-size: 1.5em;
  }
}


.Slideshow-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  align-items: stretch;
}

html.no-js .Slideshow-nav,
html.touchevents .Slideshow-nav {
  display: none;
}

.Slideshow-navButton {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.Slideshow-navButton--left,
.Slideshow-navButton--right.is-reversed {
  cursor: w-resize;
  cursor: url('../images/arrow-left.png'), w-resize;
}

.Slideshow-navButton--right,
.Slideshow-navButton--left.is-reversed {
  cursor: e-resize;
  cursor: url('../images/arrow-right.png'), e-resize;
}


.Slideshow-buttonNav {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  z-index: 2;

  margin: auto;
  width: 44px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

html.touchevents .Slideshow-buttonNav,
html.no-js .Slideshow-buttonNav {
  display: none;
}

.Slideshow-buttonNavItem {
  width: 44px;
  height: 44px;
  display: block;
  background: transparent;
  outline: none;
}

.Slideshow-buttonNavItemInner {
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: background 300ms ease;
}

.Slideshow-buttonNavItem:focus {
  outline: none;
}

.Slideshow-buttonNavItem:focus .Slideshow-buttonNavItemInner {
  background: rgba(255, 255, 255, .5);
}

.Slideshow-buttonNavItem.is-active .Slideshow-buttonNavItemInner {
  background: #fff;
}


.Slideshow--sticky {
  padding: 5vw 0;
  height: 100vh;
}

.Slideshow--sticky .Slideshow-slider {
  height: 100vh;
}

.Slideshow--sticky .Slideshow-item {
  height: 100%;
}

.Slideshow--sticky .Slideshow-itemImage {
  margin: auto;
  max-height: 100vh;
}

@media (--md-viewport) {
  .Slideshow--sticky {
    position: sticky;
    top: 0;
    min-height: 500px;
    padding: 0;
  }

  .Slideshow--sticky .Slideshow-slider {
    min-height: 500px;
  }
}


html.no-js .Slideshow--sticky {
  position: static;
  height: auto;
}

html.no-js .Slideshow--sticky .Slideshow-slider,
html.no-js .Slideshow--sticky .Slideshow-item {
  height: auto;
  min-height: 0;
}

html.no-js .Slideshow--sticky .Slideshow-itemImage {
  max-height: none;
}



/* Slideshow Small */

.Slideshow--small,
.Slideshow--small .Slideshow-slider,
.Slideshow--small .Slideshow-itemImage {
  max-height: 100vh;
}

.Slideshow--small .Slideshow-item {
  height: auto !important;
}

html.no-js .Slideshow--small,
html.no-js .Slideshow--small .Slideshow-slider,
html.no-js .Slideshow--small .Slideshow-itemImage {
  max-height: none;
}
