/** @define Type; weak */

:root {
  --Type-spacing: 30px;
}


.Type {
  font-family: var(--font-apercu);
  line-height: var(--text-lineheight-large);
  font-size: 18px;
}

@media (--lg-viewport) {
  .Type {
    font-size: 20px;
  }
}


.Type--large {
  font-size: 1.2em;
}

@media (--sm-viewport) {
  .Type--large {
    font-size: 1.5em;
  }
}

@media (--md-viewport) {
  .Type--large {
    font-size: 1.75em;
  }
}

@media (--lg-viewport) {
  .Type--large {
    font-size: 2em;
  }
}


.Type > :first-child {
  margin-top: 0 !important;
}

.Type > :last-child {
  margin-bottom: 0 !important;
}


/**
 * Styled elements
 */

@custom-selector :--Type-block-elements
  img, video, iframe,
  blockquote, p, pre, ul, ol, hr,
  h1, h2, h3;

@custom-selector :--Type-custom-heading-123
  .Type-h1, .Type-h2, .Type-h3;

@custom-selector :--Type-inline-block
  img, video, iframe;

@custom-selector :--Type-sub-lists
  ul ul, ol ol, ul ol, ol ul;


:--Type-custom-heading-123,
.Type :--Type-block-elements {
  max-width: 100%;
  height: auto;
  margin: var(--Type-spacing) 0;
  display: block;
}


/* Links */

.Type a {
  outline: 0;
  text-decoration: underline;
}

.Type a:hover,
.Type a:focus,
.Type a[href^="http"]:visited {
  opacity: .7;
}

.Type a:active {
  opacity: .4;
}


/* Headings */

:--Type-custom-heading-123,
.Type h1,
.Type h2,
.Type h3 {
  line-height: var(--text-lineheight-small);
}

:--Type-custom-heading-123:not(:first-child),
.Type h1:not(:first-child),
.Type h2:not(:first-child),
.Type h3:not(:first-child) {
  padding-top: 20px;
}

.Type-h1,
.Type h1 {
  font-size: 2em;
}

.Type-h2,
.Type h2 {
  font-size: 1.8em;
}

.Type-h3,
.Type h3 {
  font-size: 1.5em;
}


/* Lists */

.Type ol,
.Type ul {
  padding-left: 2em;
  list-style: disc;
}

.Type ol {
  list-style: decimal;
}

.Type :--Type-sub-lists {
  margin-bottom: 0;
}


/* Indent */
.Type p {
  margin: 0;
}

.Type p:not(:first-child) {
  text-indent: var(--text-indent);
}

.Type--noIndent p {
  margin: var(--Type-spacing) 0;
  text-indent: 0 !important;
}


/* Divider */

.Type hr {
  height: 1px;
  border: 0;
  width: 100%;
  background: currentColor;
  margin: calc(var(--Type-spacing) * 2) auto;
  transform: rotate(-1deg);
  transform-origin: top center;
}


/* Blockquote */

.Type blockquote {
  text-align: center;
  font-size: 1.2em;
  padding: 0 var(--Type-spacing);
}

@media (--lg-viewport) {
  .Type blockquote {
    font-size: 1.5em;
  }
}


/* Responsive videos */

.Type-embed {
  display: block;
  overflow: hidden;
  position: relative;
  margin: var(--Type-spacing) 0;
}

.Type-embed > * {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
